*html{padding:0px} 
.clearfix:after { 
     content:”.”; display:block; 
     height:0; clear:both; 
     visibility:hidden; } 
.clearfix { display:inline-block; } 
.clearfix {display:block;} 

#zt{
	background-color: #F0F0F0;
}
.maodian{
    position: fixed;
    top: 300px;	
	text-align: center;
	line-height: 22px;
	width: 62px;
	height: 22px;
	border: 2px solid red;
}
/*--顶部--*/
#div1{
	text-align: center;
    widows: 1000px;
    height: 50px;
}
#div2{
	text-align: right;
    margin-top: -32px;
    margin-right: 505px; 
}
ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:none;
    margin-top: 10px;
    cursor: default;
}
li{
	float: left;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 80px;
}
li a{
	display: block;
    text-align: center;
    text-decoration: none;
    color: block;
    padding: 10px 20px;
}

.quyu-kb{
	border: 1px solid none;
	width: 1200px;
	height: 700px;
	margin-top: 20px;	
    margin-left: 160px;
}
/*--第一部分-推荐--*/
#gd1{
	float: left;
	text-decoration: none;
	margin-top: -30px;
	margin-left: 914px;
}
#hx1{
	width: 950px;
	height: 1px;
	background-color: red;
}

/*--第一部分-内容--*/ 
.tu1{
	width: 160px;
	height: 220px;
}
.wz{
	text-align: center;
	font-size: 15px;
	color: black;
}
/*--第二部分-热读--*/
#q2{
	float: right;
	margin-top: -50px;
}
#gd2{
	float: right;
	text-decoration: none;
	margin-top: -30px;
}
#hx2{
	width: 215px;
	height: 1px;
	background-color: red;
}
/*--第二部分-内容--*/
#rd1{
	margin-top: -640px;
}
.redu{
	float: right;
}
.redu1{
	float: right;
}
#lb1-1{
	float: right;
	width: 220px;
	height: 280px;
	border: 1px solid none;
	padding:5px;
}
.lb1{ 
	width: 150px;
}
/*--第三部分-畅读--*/
.zq3-1{
	float: left;
	margin-top: -30px;
	margin-left: 686px;
}
.zq3-2{
	float: left;
	margin-top: -30px;
	margin-left: 726px;
}
.zq3-3{
	float: left;
	margin-top: -30px;
	margin-left: 768px;
}
.zq3-4{
	float: left;
	margin-top: -30px;
	margin-left: 808px;
}
.zq3-5{
	float: left;
	margin-top: -30px;
	margin-left: 847px;
}
.zq3-6{
	float: left;margin-top: -30px;
	margin-left: 883px;
}
#hx3{
	width: 950px;
	height: 1px;
	background-color: red;
}
/*--第三部分-内容--*/
#xlt1{
	float: left;
	width: 240px;
	height: 300px;
	border: 1px solid none;
	margin-left: 20px;
	margin-top: 20px;
}
#xlt2{
	float: left;
	width: 240px;
	height: 315px;
	border: 1px solid none;
	margin-left: -240px;
	margin-top: 330px;
}
.wzt{
	width: 150px;
}
.xlb{
	width: 690px;
	height: 325px;
	border: 1px solid none;
	padding: 10px;
	margin-left: 260px;
}
#tm1{
	text-align: center;
    text-decoration: none;
}
#tm1 h3{
	height: 40px;
	line-height: 40px;
	background-color: #D1E9E9;
}
#tm2{
	text-align: center;
    text-decoration: none;
}
#tm2 h3{
	height: 40px;
	line-height: 40px;
	background-color: #D1E9E9;
}
.xlr{
	font-size: 16px;
	margin-right: 50px;
	margin-top: 20px;
}
/*--第四部分-人气--*/
#q4{
	float: right;
	margin-top: -50px;
}
#gd4{
	float: right;
	text-decoration: none;
	margin-top: -30px;
}
#hx4{
	width: 215px;
	height: 1px;
	background-color: red;
}
/*--第四部分-内容--*/
#rq1{
	margin-top: -640px;
}
.reqi{
	float: right;
}
.reqi1{
	float: right;
}
#lb2-1{
	float: right;
	width: 220px;
	height: 280px;
	border: 1px solid none;
	padding:5px;
}
.lb2{ 
	width: 150px;
}
/*--第五部分-更新--*/
.gd5-1{
	float: right;
	text-decoration: none;
	margin-top: -30px;
	margin-right: 154px;
}
.gd5-2{
	float: right;
	text-decoration: none;
	margin-top: -30px;
	margin-right: 117px;
}
.gd5-3{
	float: right;
	text-decoration: none;
	margin-top: -30px;
	margin-right: 80px;
}
.gd5-4{
	float: right;
	text-decoration: none;
	margin-top: -30px;
	margin-right: 50px;
}
.gd5-5{
	float: right;
	text-decoration: none;
	margin-top: -30px;
}
/*--第五部分-内容--*/
.bt{
    width:1670px;
    height:50px;
    list-style: none;
    margin:0;
    padding:0;
}
.bt li{
    width:167px;
    display: inline-block;
    margin:0 2PX;
}
.bt li span{
    width:171px;
    height:50px;
    padding:0 20px;
    font-size: 16px;
    line-height:50px;
    background: #ACACAC;
    display: inline-block;
}
.btt{
    width:1670px;
    height:40px;
    list-style: none;
    margin:0;
    padding:0;
}
.btt li{
    width:167px;
    display: inline-block;
    margin:0 2PX;
}

.btt li span{
    width:171px;
    height:40px;
    padding:0 20px;
    font-size: 16px;
    line-height:40px;
    background: white;
    display: inline-block;
} 
.btd{
    width:1670px;
    height:40px;
    list-style: none;
    margin:0;
    padding:0;
}
.btd li{
    width:167px;
    display: inline-block;
    margin:0 2PX;
}

.btd li span{
    width:171px;
    height:40px;
    padding:0 20px;
    font-size: 16px;
    line-height:40px;
    background: #C4E1FF;
    display: inline-block;
}
/*--第六部分--*/
.ft{
	text-align: center;
	line-height: 50px;
	margin-top: 10px;
	background-color: #C4E1E1;
}   